* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'EB Garamond', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
    height: 800px;
}

.text-title {
    color: #272727;
    font-size: 60px;
    font-weight: 800;
}

.text-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    margin: 30px 0px;
}

.btn-primary {
    padding: 20px 40px;
    border-radius: 8px;
    background: #E55473;
    border: none;
}

.image {
    width: 600px;
    margin-top: 50px;
}